<!-- <mgl-map [style]="'https://demotiles.maplibre.org/style.json'" [zoom]="12" [center]="[79.0882, 21.1458]">
      
    <!-- 1. Provide the GPS coordinates as GeoJSON -->
    <!-- <mgl-geojson-source 
      id="user-route" 
      [data]="routeData">
    </mgl-geojson-source>

    <!-- 2. Draw the line on the map -->
    <!-- <mgl-layer
      id="route-line"
      type="line"
      source="user-route"
      [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
      }"
      [paint]="{
        'line-color': '#3b82f6', /* Tailwind blue-500 */
        'line-width': 6,
        'line-opacity': 0.8
      }">
    </mgl-layer>

  </mgl-map>   -->