<!-- src/app/common/home/components/appbar-component/appbar-component.html -->
<p-toolbar class="!flex-nowrap w-full h-full !py-0 px-4 md:px-6 !bg-[#3B7597] border-b border-[var(--line)] border-x-0 border-t-0 !rounded-none shadow-none flex items-center justify-between relative z-50 overflow-hidden">

    <!-- Left Side: Logo -->
    <ng-template #start>
        <div class="flex h-full">
            <img src="/VDURA.png" alt="VDura Logo" class="h-full w-24 object-contain shrink-0" />
        </div>  
    </ng-template>

    <!-- Right Side: User Profile -->
    <ng-template #end>
        <div class="flex items-center h-full shrink-0 cursor-pointer">
            <app-topbar-component></app-topbar-component>
        </div>
    </ng-template>

</p-toolbar>