<div class="flex flex-col gap-1 w-full">
    @if (label()) {
        <label [for]="inputId()" class="text-xs sm:text-sm font-[500]" [ngClass]="labelStyleClasses()">
            {{ label() }}
        </label>
    }
    
    <input 
        pInputText 
        [id]="inputId()" 
        [type]="resolvedType()"
        [attr.inputmode]="resolvedInputMode()"
        [attr.autocomplete]="resolvedAutocomplete()"
        [placeholder]="placeholder()"
        [formControl]="control()"
        [attr.maxlength]="maxLength()"
        [attr.pattern]="pattern()"
        class="w-full"
        [class]="
          'w-full !text-xs sm:!text-sm ' + 
          (iconStart() ? 'pl-9 ' : '') + 
          (size() === 's' ? 'p-inputtext-sm ' : size() === 'l' ? 'p-inputtext-lg' : '')
        " 
    />
</div>