<div class="flex flex-col gap-1 w-full">
  @if (label()) {
    <label [for]="inputId()" class="text-xs sm:text-sm font-medium text-surface-700 dark:text-surface-300" [ngClass]="labelStyleClasses()">
      {{ label() }}
    </label>
  }

  <tui-textfield
    class="w-full textfield-compact"
    [iconStart]="iconStart()"
    [iconEnd]="iconEnd()"
    [tuiTextfieldSize]="size()"
  >
    <input
      tuiInput
      [id]="inputId()"
      [type]="type()"
      [placeholder]="placeholder()"
      [formControl]="control()"
    />
  </tui-textfield>
</div>